.lfr-asset-column-details .lfr-asset-title .lfr-asset-actions img {
  margin-left: 5px; }
.lfr-asset-column-details .lfr-asset-actions {
  float: right;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 3px;
  margin-top: 0; }
.lfr-asset-column-details .task-activity {
  padding: 5px 5px 5px 25px; }
.lfr-asset-column-details .task-activity-date {
  font-weight: bold; }
.lfr-asset-column-details h3.task-content-title {
  border-bottom: 1px solid #DDD;
  margin-top: 0; }
.lfr-asset-column-details .task-panel-container .lfr-panel-content {
  padding: 0.7em; }
.lfr-asset-column-details .task-content-actions {
  float: right; }
.lfr-asset-column-details .asset-metadata {
  background-color: #EFEFEF;
  border-top: 1px solid #DDD;
  margin: 2em 0 0;
  padding: 0.5em; }
  .lfr-asset-column-details .asset-metadata span {
    display: inline-block; }
.lfr-asset-column-details .metadata-author {
  font-weight: bold;
  margin-right: 10px; }
.lfr-asset-column-details .metadata-entry {
  color: #999; }

#workflowTasksPanelContainer {
  border-width: 0; }
