/* ---------- Flex containers ---------- */
/* ---------- Flex container behavior ---------- */
/* ---------- Flex container alignment ---------- */
/* ---------- Flex items ---------- */
/* ---------- Flex item alignment ---------- */
.app-view-taglib .display-style .icon {
  background-image: url(@theme_image_path@/application/layouts.png);
  background-repeat: no-repeat; }
@media (max-width: 979px) {
  .app-view-taglib .form-search {
    margin-top: 5px; } }
.app-view-taglib .icon-display-descriptive {
  background-position: -32px 0; }
.app-view-taglib .icon-display-icon {
  background-position: -16px 0; }
.app-view-taglib .icon-display-list {
  background-position: 0 0; }
.app-view-taglib .state-active .icon-display-descriptive {
  background-position: -32px 100%; }
.app-view-taglib .state-active .icon-display-icon {
  background-position: -16px 100%; }
.app-view-taglib .lfr-header-row-content {
  position: relative; }
  .app-view-taglib .lfr-header-row-content .display-style {
    float: right; }
  .app-view-taglib .lfr-header-row-content .select-all-entries {
    left: 7px;
    position: absolute;
    top: 15px;
    z-index: 1; }
    @media (max-width: 979px) {
      .app-view-taglib .lfr-header-row-content .select-all-entries {
        top: 17px; } }

.navbar .nav-display-style-buttons {
  float: right;
  margin: 8px 0 8px 15px; }
  @media (max-width: 767px) {
    .navbar .nav-display-style-buttons {
      float: none;
      margin: 7.5px -15px; } }
  @media (max-width: 767px) {
    .navbar .nav-display-style-buttons .display-style-buttons > .dropdown > .dropdown-menu {
      background-color: transparent;
      border-width: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      display: block;
      float: none;
      margin-top: 0;
      position: static;
      width: auto; }
    .navbar .nav-display-style-buttons .display-style-buttons > .dropdown > .dropdown-toggle {
      display: none; } }
  .navbar .nav-display-style-buttons .display-style-buttons-container .dropdown-toggle .caret {
    border-bottom-color: #333;
    border-top-color: #333; }

.ie6 .app-view-taglib.lfr-header-row .lfr-header-row-content .toolbar {
  position: relative; }
  .ie6 .app-view-taglib.lfr-header-row .lfr-header-row-content .toolbar .field-choice {
    width: 24px; }
.ie6 .app-view-taglib.lfr-header-row .lfr-header-row-content .display-style {
  position: relative; }
