.taglib-social-bookmarks {
  margin-top: 1.5em; }
  .taglib-social-bookmarks a.social-bookmark-link {
    background-repeat: no-repeat;
    padding-left: 20px; }
  .taglib-social-bookmarks .social-bookmark {
    margin-right: 1em; }
